<section class="decorate">
    <div class="container">
        <p class="decorate__title">
            <span class="decorate__title-main">What will you Decorate Today?</span>
            <a href="#" class="decorate__title-secondary">View All Decorating Ideas</a>
        </p>
        <div class="decorate__row">
            <div class="decorate__col decorate__col_left">
                <div class="decorate__col-top">
                    <img src="img/Flower-Cake.jpg" alt="Cake photo" class="decorate__col-top-img">
                </div>
                <div class="decorate__col-bottom">
                    <p class="decorate__col-bottom-text">
                        <span class="decorate__col-bottom-title">
                            cake
                        </span>
                    </p>
                    <button class="decorate__col-bottom-btn main-btn">
                        View ideas
                    </button>
                </div>
            </div>
            <div class="decorate__col decorate__col_right">
                <a href="#" class="decorate__col-item decorate__col-item_layout">
                    <img src="img/flowers.jpg" alt="Flowers photo" class="decorate__col-item-img">
                    <p class="decorate__col-item-text">
                        <span class="decorate__col-item-title">TrendIng:</span>
                        <span class="decorate__col-item-subtitle">Cupcake Bouquet</span>
                    </p>
                </a>
                <div href="#" class="decorate__col-item">
                    <img src="img/candy.jpg" alt="Candies photo" class="decorate__col-item-img">
                    <p class="decorate__col-item-text decorate__col-item-text_v2">
                        <span class="decorate__col-item-title decorate__col-item-title_dark">Candy</span>
                        <button class="main-btn">View ideas</button>
                    </p>
                </div>
                <div href="#" class="decorate__col-item">
                    <img src="img/cookies.jpg" alt="Cookies photo" class="decorate__col-item-img">
                    <p class="decorate__col-item-text decorate__col-item-text_v2">
                        <span class="decorate__col-item-title decorate__col-item-title_dark">cookies</span>
                        <button class="main-btn">View ideas</button>
                    </p>
                </div>
                <a a href="#" class="decorate__col-item decorate__col-item_layout">
                    <img src="img/flowers2.jpg" alt="Flowers photo" class="decorate__col-item-img">
                    <p class="decorate__col-item-text">
                        <span class="decorate__col-item-title">TrendIng:</span>
                        <span class="decorate__col-item-subtitle">Hydrangea Cupcakes</span>
                    </p>
                </a>
            </div>
        </div>
    </div>
</section>