<section class="footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__col footer__col_large">
                <span class="footer__col-title footer__col-title_none">
                    Useful Links
                </span>
                <span class="js-footer__col-title">
                    Useful Links
                </span>
                <div class="footer__col-row">
                    <ul class="footer__col-col">
                        <li class="footer__col-item">
                            <a href="#" class="footer__col-link">
                                Wilton Cakes & More App
                            </a>
                        </li>
                        <li class="footer__col-item">
                            <a href="#" class="footer__col-link">
                                Wilton Print
                            </a>
                        </li>
                        <li class="footer__col-item">
                            <a href="#" class="footer__col-link">
                                Contests
                            </a>
                        </li>
                        <li class="footer__col-item">
                            <a href="#" class="footer__col-link">
                                Tent Sale
                            </a>
                        </li>
                        <li class="footer__col-item">
                            <a href="#" class="footer__col-link">
                                State/County Fair Program
                            </a>
                        </li>
                        <li class="footer__col-item">
                            <a href="#" class="footer__col-link">
                                Corporate Overview
                            </a>
                        </li>
                        <li class="footer__col-item">
                            <a href="#" class="footer__col-link">
                                Wilton History
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__col-col">
                        <li class="footer__col-item">
                            <a href="#" class="footer__col-link">
                                Media Center
                            </a>
                        </li>
                        <li class="footer__col-item">
                            <a href="#" class="footer__col-link">
                                Wilton Community Fund
                            </a>
                        </li>
                        <li class="footer__col-item">
                            <a href="#" class="footer__col-link">
                                Shipping Information
                            </a>
                        </li>
                        <li class="footer__col-item">
                            <a href="#" class="footer__col-link">
                                Return & Exchange Policy
                            </a>
                        </li>
                        <li class="footer__col-item">
                            <a href="#" class="footer__col-link">
                                Warranty Information
                            </a>
                        </li>
                        <li class="footer__col-item">
                            <a href="#" class="footer__col-link">
                                Recalls
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__col-col">
                        <li class="footer__col-item">
                            <a href="#" class="footer__col-link">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="footer__col-item">
                            <a href="#" class="footer__col-link">
                                Safe Harbor Policy
                            </a>
                        </li>
                        <li class="footer__col-item">
                            <a href="#" class="footer__col-link">
                                Terms and Conditions
                            </a>
                        </li>
                        <li class="footer__col-item">
                            <a href="#" class="footer__col-link">
                                Site Map
                            </a>
                        </li>
                        <li class="footer__col-item">
                            <a href="#" class="footer__col-link">
                                GCCs
                            </a>
                        </li>
                        <li class="footer__col-item">
                            <a href="#" class="footer__col-link">
                                Careers
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__col">
                <span class="footer__col-title">
                    Contact Us
                </span>
                <p class="footer__col-text">
                    For ordering, issues with products, returns and
                    other order related inquiries: Call 1-888-373-4588.
                    For questions about product use, instructions
                    or to request replacement parts or materials:
                    Call 1-800-794-5866.<br />
                    <a href="#" class="footer__col-text-link">
                        Other Ways to Contact Us
                    </a>
                </p>
            </div>
            <div class="footer__col">
                <span class="footer__col-title">
                    Stay Connected
                </span>
                <a href="#top" class="main-btn back-to-top">
                    back to top ⤊
                </a>
                <ul class="footer__col-socials">
                    <li class="footer__col-social">
                        <a href="#" class="footer__col-social-link pinteres"></a>
                    </li>
                    <li class="footer__col-social">
                        <a href="#" class="footer__col-social-link fb"></a>
                    </li>
                    <li class="footer__col-social">
                        <a href="#" class="footer__col-social-link tw"></a>
                    </li>
                    <li class="footer__col-social">
                        <a href="#" class="footer__col-social-link t"></a>
                    </li>
                    <li class="footer__col-social">
                        <a href="#" class="footer__col-social-link inst"></a>
                    </li>
                    <li class="footer__col-social">
                        <a href="#" class="footer__col-social-link utb"></a>
                    </li>
                    <li class="footer__col-social">
                        <a href="#" class="footer__col-social-link gplus"></a>
                    </li>
                    <li class="footer__col-social">
                        <a href="#" class="footer__col-social-link imail"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__copyrite">
        <div class="container">
            <span>
                © 2003–2015 Wilton Industries.
            </span>
            <span class="footer__mobile-none">
                All rights reserved
            </span>
        </div>
    </div>
</section>