<header class="header">
    <div class="nav-top">
        <div class="container nav-top__row">
            <ul class="nav-top__col">
                <li class="nav-top__item">
                    <a href="#" class="nav-top__link nav-top__link_email">
                        Email Signup
                    </a>
                </li>
                <li class="nav-top__item">
                    <a href="#" class="nav-top__link nav-top__link_help">
                        Need Help
                    </a>
                </li>
            </ul>
            <ul class="nav-top__col">
                <li class="nav-top__item">
                    <a href="#" class="nav-top__link nav-top__link_store">
                        Store Locator
                    </a>
                </li>
                <div class="nav-top__item">
                    <a href="#" class="nav-top__link nav-top__link_favorite">
                        My Favorites
                    </a>
                </div>
                <div class="nav-top__item">
                    <a href="#" class="nav-top__link nav-top__link_account">
                        My Account
                    </a>
                </div>
                <div class="nav-top__item">
                    <a href="#" class="nav-top__link nav-top__link_cart">
                        My Cart
                    </a>
                </div>
            </ul>
        </div>
    </div>
    <div class="nav-bottom">
        <div class="container nav-bottom__row">
            <div class="nav-bottom__btn-wrapper">
                <button class="nav-bottom__btn">
                    <div class="nav-bottom__btn-ico">&#9776;</div>
                    <div class="nav-bottom__btn-label">Menu</div>
                </button>
            </div>
            <a href="#" class="nav-bottom__logo">
                <img src="img/main-logo.svg" alt="Site's logo" class="nav-bottom__img" />
            </a>
            <nav class="nav-bottom-menu">
                <ul class="nav-bottom-menu__ul">
                    <li class="nav-bottom-menu__item">
                        <a href="#" class="nav-bottom-menu__link">
                            Recipes
                        </a>
                    </li>
                    <li class="nav-bottom-menu__item">
                        <a href="#" class="nav-bottom-menu__link">
                            Decorating Ideas
                        </a>
                    </li>
                    <li class="nav-bottom-menu__item">
                        <a href="#" class="nav-bottom-menu__link">
                            Education
                        </a>
                    </li>
                    <li class="nav-bottom-menu__item"> <a href="#" class="nav-bottom-menu__link">
                            Shop
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="nav-bottom__search-cart">
                <form action="" class="nav-bottom__search">
                    <input type="text" class="nav-bottom__input" placeholder="search" />
                    <button type="submit" class="nav-bottom__submit" data-active="true"></button>
                </form>
                <a href="#" class="nav-bottom__cart-ico"></a>
            </div>
        </div>
    </div>
    <form class="mobile-search-bar">
        <input type="text" class="mobile-search-bar__input" placeholder="Search" />
        <button type="submit" class="mobile-search-bar__btn"></button>
    </form>
    <nav class="nav-mobile-menu">
        <a href="#" class="nav-mobile-menu__link">
            Recipes
        </a>
        <a href="#" class="nav-mobile-menu__link">
            Decorating Ideas
        </a>
        <a href="#" class="nav-mobile-menu__link">
            Education
        </a>
        <a href="#" class="nav-mobile-menu__link">
            Shop
        </a>
    </nav>
</header>