<header class="header">
    <div class="nav-top">
        <div class="container nav-top__row">
            <div class="nav-top__col">
                <a href="#" class="nav-top__link nav-top__link_email">
                    Email Signup
                </a>
                <a href="#" class="nav-top__link nav-top__link_help">
                    Need Help
                </a>
            </div>
            <div class="nav-top__col">
                <a href="#" class="nav-top__link nav-top__link_store">
                    Store Locator
                </a>
                <a href="#" class="nav-top__link nav-top__link_favorite">
                    My Favorites
                </a>
                <a href="#" class="nav-top__link nav-top__link_account">
                    My Account
                </a>
                <a href="#" class="nav-top__link nav-top__link_cart">
                    My Cart
                </a>
            </div>
        </div>
    </div>
    <div class="nav-bottom">
        <div class="container nav-bottom__row">
            <div class="nav-bottom__btn">
                <div class="nav-bottom__btn-ico">&#9776;</div>
                <div class="nav-bottom__btn-label">Menu</div>
            </div>
            <a href="#" class="nav-bottom__logo">
                <img src="img/main-logo.svg" alt="Site's logo" class="nav-bottom__img" />
            </a>
            <nav class="nav-bottom-menu">
                <a href="#" class="nav-bottom-menu__link">
                    Recipes
                </a>
                <a href="#" class="nav-bottom-menu__link">
                    Decorating Ideas
                </a>
                <a href="#" class="nav-bottom-menu__link">
                    Education
                </a>
                <a href="#" class="nav-bottom-menu__link">
                    Shop
                </a>
            </nav>
            <div class="nav-bottom__search-cart">
                <form action="" class="nav-bottom__search">
                    <input type="text" class="nav-bottom__input" placeholder="search" />
                    <input type="submit" value="" class="nav-bottom__submit" />
                </form>
                <div class="nav-bottom__search-ico fa fa-search"></div>
                <div class="nav-bottom__cart-ico fa fa-shopping-cart"></div>
            </div>
        </div>
    </div>
    <form class="mobile-search-bar">
        <input type="text" class="mobile-search-bar__input" placeholder="Search" />
        <input type="submit" value="" class="mobile-search-bar__btn" />
    </form>
    <nav class="nav-mobile-menu">
        <a href="#" class="nav-mobile-menu__link">
            Recipes
        </a>
        <a href="#" class="nav-mobile-menu__link">
            Decorating Ideas
        </a>
        <a href="#" class="nav-mobile-menu__link">
            Education
        </a>
        <a href="#" class="nav-mobile-menu__link">
            Shop
        </a>
    </nav>
</header>