<section class="learn-about">
    <div class="container">
        <p class="learn-about__undertitle">
            in 1929, Dewey McKinley Wilton began to teach
        </p>
        <p class="learn-about__title">
            the "Wilton Method," beginning an 85-year tradition of decorating excellence.
        </p>
        <button class="learn-about__btn main-btn">
            <span class="learn-about__btn_mobile">learn-about</span>
            <span class="learn-about__btn_desktop">Learn More About The Wilton School</span>
        </button>
    </div>
</section>