<section class="shop-it">
    <div class="container">
        <div class="shop-it__row">
            <div class="shop-it__col">
                <div class="shop-it__col-title shop-it__col-title_violet">
                    <a href="#" class="shop-it__col-link">
                        Shop Bakware
                    </a>
                </div>
                <div class="shop-it__col-imgbox">
                    <img src="img/balls.jpg" alt="Balls photo" class="shop-it__col-img">
                </div>
            </div>
            <div class="shop-it__col">
                <div class="shop-it__col-title shop-it__col-title_pink">
                    <a href="#" class="shop-it__col-link">
                        Shop Decorating Tools
                    </a>
                </div>
                <div class="shop-it__col-imgbox">
                    <img src="img/plate.jpg" alt="Balls photo" class="shop-it__col-img">
                </div>
            </div>
            <div class="shop-it__col">
                <div class="shop-it__col-title shop-it__col-title_red">
                    <a href="#" class="shop-it__col-link">
                        Shop Clearance
                    </a>
                </div>
                <div class="shop-it__col-imgbox">
                    <img src="img/pies.jpg" alt="Balls photo" class="shop-it__col-img">
                </div>
            </div>
        </div>
    </div>
</section>