<section class="showcase">
    <div class="container">
        <p class="showcase__title">
            <span class="showcase__title-main">Project of the Week</span>
            <a href="#" class="showcase__title-secondary">View All Projects</a>
        </p>
        <div class="showcase__row">
            <div class="showcase__col">
                <div class="showcase__col-top">
                    <p class="showcase__col-top-text">
                        <span class="showcase__col-top-title">
                            Daffodil Frills Cupcakes
                        </span>
                        <p class="showcase__col-top-subtitle">
                            These yellow flowers are the perfect harbinger of new
                            Spring excitement!
                        </p>
                    </p>
                    <button class="showcase__col-top-btn main-btn main-btn_large">
                        View Project
                    </button>
                </div>
                <div class="showcase__col-bottom">
                    <img src="img/sweets.jpg" alt="Sweets" class="showcase__col-bottom-img">
                </div>
            </div>
            <div class="showcase__col">
                <div class="showcase__col-items">
                    <div class="showcase__col-item">
                        <div class="showcase__col-image-wrapper">
                            <img src="img/pills.jpg" alt="Pills image" class="showcase__col-image">
                        </div>
                        <div class="showcase__col-title-wrap">
                            <a href="#" class="showcase__col-item-title">
                                Golden Yellow Icing Color,
                                <span class="showcase__col-item-price showcase__col-item-price_old">$3.79</span>
                                <span class="showcase__col-item-discount">$2.50</span>
                            </a>
                        </div>
                    </div>
                    <div class="showcase__col-item">
                        <div class="showcase__col-image-wrapper">
                            <img src="img/bag.jpg" alt="Bag image" class="showcase__col-image">
                        </div>
                        <div class="showcase__col-title-wrap">
                            <a href="#" class="showcase__col-item-title">
                                12-ct. 12 in. Disposable Decorating Bags,
                                <span class="showcase__col-item-price">$4.99</span>
                            </a>
                        </div>
                    </div>
                    <div class="showcase__col-item">
                        <div class="showcase__col-image-wrapper">
                            <img src="img/paket.jpg" alt="Paket image" class="showcase__col-image">
                        </div>
                        <div class="showcase__col-title-wrap">
                            <a href="#" class="showcase__col-item-title">
                                12-ct. 12 in. Disposable Decorating Bags,
                                <span class="showcase__col-item-price">$4.99</span>
                            </a>
                        </div>
                    </div>
                    <div class="showcase__col-item">
                        <div class="showcase__col-image-wrapper">
                            <img src="img/pan.jpg" alt="Pan image" class="showcase__col-image">
                        </div>
                        <div class="showcase__col-title-wrap">
                            <a href="#" class="showcase__col-item-title">
                                Recipe Right 6-Cup Muffin Pan,
                                <span class="showcase__col-item-price">$5.49</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>