<section class="showcase">
    <div class="container">
        <div class="showcase__title">
            <span class="showcase__title-main">Project of the Week</span>
            <a href="#" class="showcase__title-secondary">View All Projects</a>
        </div>
        <div class="showcase__row">
            <div class="showcase__col">
                <div class="showcase__col-top">
                    <div class="showcase__col-top-text">
                        <span class="showcase__col-top-title">
                            Daffodil Frills Cupcakes
                        </span>
                        <p class="showcase__col-top-subtitle">
                            These yellow flowers are the perfect harbinger of new
                            Spring excitement!
                        </p>
                    </div>
                    <button class="showcase__col-top-btn">
                        View Project
                    </button>
                </div>
                <div class="showcase__col-bottom">
                    <img src="img/sweets.jpg" alt="Sweets" class="showcase__col-bottom-img">
                </div>
            </div>
            <div class="showcase__col">asdasd</div>
        </div>
    </div>
</section>