<div class="underheader-title">
    <div class="container">
        <p class="underheader-title__content">
            <span class="underheader-title__content_uppercase">
                FREE SHIPPING on all orders over $60!
            </span>
            *Limited to domestic U.S. orders only.
        </p>
    </div>
</div>

<section class="slider">
    <div class="container">
        <div class="js-slider-box">

            <div class="slider-box__item">
                <picture>
                    <img src="img/slider1.jpg" alt="Flowers" class="slider-box__img">
                </picture>
                <div class="slider-box__text-wrapper slider-box__text-wrapper_top-left">
                    <div class="slider-box__text">
                        <span class="slider-box__under-title">
                            We make it easy.
                        </span>
                        <span class="slider-box__title">
                            You make it <br /> amazing.
                        </span>
                        <button class="slider-box__link main-btn">View Ideas</button>
                    </div>
                </div>
            </div>

            <div class="slider-box__item">
                <picture>
                    <img src="img/slider1.jpg" alt="Flowers" class="slider-box__img">
                </picture>
                <div class="slider-box__text-wrapper slider-box__text-wrapper_top-center">
                    <div class="slider-box__text">
                        <span class="slider-box__under-title">
                            We make it easy.
                        </span>
                        <span class="slider-box__title">
                            You make it <br /> amazing.
                        </span>
                        <button class="slider-box__link main-btn">View Ideas</button>
                    </div>
                </div>
            </div>

            <div class="slider-box__item">
                <picture>
                    <img src="img/slider1.jpg" alt="Flowers" class="slider-box__img">
                </picture>
                <div class="slider-box__text-wrapper slider-box__text-wrapper_top-right">
                    <div class="slider-box__text">
                        <span class="slider-box__under-title">
                            We make it easy.
                        </span>
                        <span class="slider-box__title">
                            You make it <br /> amazing.
                        </span>
                        <button class="slider-box__link main-btn">View Ideas</button>
                    </div>
                </div>
            </div>

            <div class="slider-box__item">
                <picture>
                    <img src="img/slider1.jpg" alt="Flowers" class="slider-box__img">
                </picture>
                <div class="slider-box__text-wrapper slider-box__text-wrapper_center-left">
                    <div class="slider-box__text">
                        <span class="slider-box__under-title">
                            We make it easy.
                        </span>
                        <span class="slider-box__title">
                            You make it <br /> amazing.
                        </span>
                        <button class="slider-box__link main-btn">View Ideas</button>
                    </div>
                </div>
            </div>

            <div class="slider-box__item">
                <picture>
                    <img src="img/slider1.jpg" alt="Flowers" class="slider-box__img">
                </picture>
                <div class="slider-box__text-wrapper slider-box__text-wrapper_center-center">
                    <div class="slider-box__text">
                        <span class="slider-box__under-title">
                            We make it easy.
                        </span>
                        <span class="slider-box__title">
                            You make it <br /> amazing.
                        </span>
                        <button class="slider-box__link main-btn">View Ideas</button>
                    </div>
                </div>
            </div>

            <div class="slider-box__item">
                <picture>
                    <img src="img/slider1.jpg" alt="Flowers" class="slider-box__img">
                </picture>
                <div class="slider-box__text-wrapper slider-box__text-wrapper_center-right">
                    <div class="slider-box__text">
                        <span class="slider-box__under-title">
                            We make it easy.
                        </span>
                        <span class="slider-box__title">
                            You make it <br /> amazing.
                        </span>
                        <button class="slider-box__link main-btn">View Ideas</button>
                    </div>
                </div>
            </div>

            <div class="slider-box__item">
                <picture>
                    <img src="img/slider1.jpg" alt="Flowers" class="slider-box__img">
                </picture>
                <div class="slider-box__text-wrapper slider-box__text-wrapper_bottom-left">
                    <div class="slider-box__text">
                        <span class="slider-box__under-title">
                            We make it easy.
                        </span>
                        <span class="slider-box__title">
                            You make it <br /> amazing.
                        </span>
                        <button class="slider-box__link main-btn">View Ideas</button>
                    </div>
                </div>
            </div>

            <div class="slider-box__item">
                <picture>
                    <img src="img/slider1.jpg" alt="Flowers" class="slider-box__img">
                </picture>
                <div class="slider-box__text-wrapper slider-box__text-wrapper_bottom-center">
                    <div class="slider-box__text">
                        <span class="slider-box__under-title">
                            We make it easy.
                        </span>
                        <span class="slider-box__title">
                            You make it <br /> amazing.
                        </span>
                        <button class="slider-box__link main-btn">View Ideas</button>
                    </div>
                </div>
            </div>


            <div class="slider-box__item">
                <picture>
                    <img src="img/slider1.jpg" alt="Flowers" class="slider-box__img">
                </picture>
                <div class="slider-box__text-wrapper slider-box__text-wrapper_bottom-right">
                    <div class="slider-box__text">
                        <span class="slider-box__under-title">
                            We make it easy.
                        </span>
                        <span class="slider-box__title">
                            You make it <br /> amazing.
                        </span>
                        <button class="slider-box__link main-btn">View Ideas</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>