<section class="subscribe">
    <div class="container">
        <div class="subscribe__form-wrap">
            <form action="" class="subscribe__form">
                <div class="subscribe__torm-row">
                    <span class="subscribe__form-title">Get Inspiration And Great Deals</span>
                    <input type="email" name="user-email" id="user-email" class="subscribe__form-input"
                        placeholder="Enter your Email Address">
                    <button type="submit" class="subscribe__form-submit main-btn">
                        Submit
                    </button>
                </div>
                <p class="subscribe__form-text">
                    Yes, I want to receive new decorating ideas and exclusive offers from Wilton. You can withdraw your
                    consent at any time.
                    <a href="#" class="subscribe__form-text-more">Learn More</a>
                </p>
            </form>
        </div>
    </div>
</section>