.learn-about {
    text-align: center;
    padding: 30px 0;
    
    @include adaptive("laptop_up") {
        padding: 100px 0;
    }
}

.learn-about__undertitle {
    font-size: 14px;
    color: $main-title-color;
    font-weight: 700;
    margin: 0 0 10px 0;

    @include adaptive("laptop_up") {
        font-size: 18px;
    }
}

.learn-about__title {
    font-size: 20px;
    color: $main-color;
    margin: 0 0 10px 0;
    font-weight: 300;

    @include adaptive("laptop_up") {
        font-size: 37px;
    }
}

.learn-about__btn {
    padding: 9px 20px;
}

.learn-about__btn_mobile {
    @include adaptive("tablet_up") {
        display: none;
    }
}

.learn-about__btn_desktop {
    display: none;

    @include adaptive("tablet_up") {
        display: inline-block;
    }
}