.decorate__title {
    @extend .showcase__title;
}

.decorate__title-main {
    @extend .showcase__title-main;
}

.decorate__title-secondary {
    @extend .showcase__title-secondary;
}

.decorate__row {
    @extend .showcase__row;
    border: 0;
}

.decorate__col {
    @extend .showcase__col;
}

.decorate__col_left {
    position: relative;

    @include adaptive("tablet") {
        width: 45%;
        margin-right: 15px;
    }

    @include adaptive("notebook") {
        width: 45%;
        margin-right: 15px;
    }

    @include adaptive("desktop") {
        width: 45%;
        margin-right: 15px;
    }
}

.decorate__col_right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include adaptive("tablet") {
        width: 55%;
    }

    @include adaptive("notebook") {
        width: 55%;
    }

    @include adaptive("desktop") {
        width: 55%;
    }
}

.decorate__col-item {
    width: 48.8%;
    overflow: hidden;
    display: block;
    position: relative;

    &:nth-child(1) {
        margin-bottom: 15px;
    }

    &:nth-child(2) {
        margin-bottom: 15px;
    }

    @include adaptive("tablet") {
        height: 48.8%;
    }

    @include adaptive("notebook") {
        height: 48.8%;
    }

    @include adaptive("desktop") {
        height: 48.8%;
    }
}

.decorate__col-item-img {
    width: 100%;
    height: 100%;
}

.decorate__col-top {
    overflow: hidden;
}

.decorate__col-top-img {
    width: 110%;
    height: 100%;
}

.decorate__col-bottom {
    position: absolute;
    min-height: 91px;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    bottom: 0;
}

.decorate__col-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.decorate__col-bottom-title {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #4b4b4b;
    text-transform: uppercase;

    @include adaptive("tablet") {
        margin-left: 30px;
    }

    @include adaptive("notebook") {
        margin-left: 30px;
    }

    @include adaptive("desktop") {
        margin-left: 30px;
    }
}

.decorate__col-bottom-btn {
    margin-right: 30px;
    border: 0;
    box-shadow: none;
    padding: 8px 12px;
    background-color: #61279e;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 6px;

    &:hover {
        background-color: lighten(#61279e, 10%);
    }

    &:active {
        background-color: darken(#61279e, 10%);
    }

    @include adaptive("tablet") {
        margin-right: 35px;
    }

    @include adaptive("notebook") {
        margin-right: 35px;
    }

    @include adaptive("desktop") {
        margin-right: 35px;
    }
}

.decorate__col-item_layout {
    position: relative;

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        background: rgba(0, 0, 0, 0.3);
    }

    &::after {
        position: absolute;
        content: "";
        background: url("../img/arrow-sign.png");
        top: calc(50% - 50.5px);
        left: calc(50% - 50.5px);
        width: 101px;
        height: 101px;
        transform: scale(0.5);

        @include adaptive("tablet") {
            transform: scale(1);
        }

        @include adaptive("notebook") {
            transform: scale(1);
        }

        @include adaptive("desktop") {
            transform: scale(1);
        }
    }
}

.decorate__col-item-text {
    margin: 0;
    position: absolute;
    bottom: 0;
    padding: 15px;
}

.decorate__col-item-title {
    font-size: 20px;
    display: block;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;

    @include adaptive("tablet") {
        font-size: 30px;
    }

    @include adaptive("notebook") {
        font-size: 30px;
    }

    @include adaptive("desktop") {
        font-size: 30px;
    }
}

.decorate__col-item-subtitle {
    color: #fff;
    font-weight: 300;
    font-size: 15px;

    @include adaptive("tablet") {
        font-size: 17px;
    }

    @include adaptive("notebook") {
        font-size: 20px;
    }

    @include adaptive("desktop") {
        font-size: 30px;
    }
}

.decorate__col-item-text_v2 {
    padding: 10px 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    @include adaptive("tablet") {
        flex-direction: row;
        padding: 28px 10px;
    }

    @include adaptive("notebook") {
        padding: 28px 24px;
        flex-direction: row;
    }

    @include adaptive("desktop") {
        padding: 28px 24px;
        flex-direction: row;
    }
}

.decorate__col-item-title_dark {
    color: #4b4b4b;
    font-size: 20px;

    @include adaptive("tablet") {
        font-size: 20px;
    }

    @include adaptive("notebook") {
        font-size: 20px;
    }

    @include adaptive("desktop") {
        font-size: 30px;
    }
}

.decorate__col-item-btn {
    border: 0;
    padding: 8px 12px;
    box-shadow: none;
    background: #61279e;
    border-radius: 6px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;

    &:hover {
        background: lighten(#61279e, 10%);
    }

    &:active {
        background: lighten(#61279e, 10%);
    }
}