.shop-it {
    margin: 10px 0;

    @include adaptive("notebook") {
        margin: 73px 0;
    }

    @include adaptive("desktop") {
        margin: 73px 0;
    }
}

.shop-it__row {
    display: flex;
    flex-wrap: wrap;

    @include adaptive("tablet") {
        flex-wrap: nowrap;
    }

    @include adaptive("notebook") {
        flex-wrap: nowrap;
    }

    @include adaptive("desktop") {
        flex-wrap: nowrap;
    }
}

.shop-it__col {
    flex-grow: 1;
    width: 100%;
    margin-bottom: 10px;

    @include adaptive("tablet") {
        margin: 0 10px 0 0;
        width: 33.333%;
    }

    @include adaptive("notebook") {
        margin: 0 10px 0 0;
        width: 33.333%;
    }

    @include adaptive("desktop") {
        margin: 0 10px 0 0;
        width: 33.333%;
    }

    &:last-child {
        margin: 0;
        width: 33.333%;
    }
}

.shop-it__col-title {
    padding: 0;
    margin: 0;
    min-height: 68px;
    line-height: 68px;
    text-align: center;
}

.shop-it__col-link {
    text-decoration: none;
    transition: all 0.3s;
    font-size: 20px;
    color: #fff;

    @include adaptive("tablet") {
        font-size: 20px;
    }

    @include adaptive("notebook") {
        font-size: 25px;
    }

    @include adaptive("desktop") {
        font-size: 30px;
    }

    &::after {
        display: inline-block;
        content: "〉";
        transform: scale(0.5);
    }

    &:hover {
        text-decoration: underline;
    }
}

.shop-it__col-imgbox {
    height: auto;
    border: 1px solid #dadada;
    display: none;

    @include adaptive("tablet") {
        display: block;
        height: auto;
    }

    @include adaptive("notebook") {
        display: block;
        height: auto;
    }

    @include adaptive("desktop") {
        display: block;
        height: auto;
    }
}

.shop-it__col-img {
    @include adaptive("tablet") {
        width: 100%;
        height: auto;
    }

    @include adaptive("notebook") {
        width: 100%;
        height: auto;
    }

    @include adaptive("desktop") {
        width: 100%;
        height: 100%;
    }
}

.shop-it__col-title_violet {
    background: #61279e;
}

.shop-it__col-title_pink {
    background: #fe82cb;
}

.shop-it__col-title_red {
    background: #e1359a;
}