// common
$main-font-color: #969696;
$main-title-color: #4b4b4b;
$main-color: #5d2598;
$main-danger-color: #e1359a;
$font-url: "https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap";
$font-famaly: "Roboto", sans-serif;

// slider
$slider-dots-color: #6e6c6a;
$slider-act-dot-color: #fff;

//shop it
$title-bg1: #61279e;
$title-bg2: #fe82cb;
$title-bg3: #e1359a;
